body {
  margin: auto;
  padding: 0;
  width: 375px;
  height: 560px;
  background-color: rgb(22, 82, 240);
  font-size: 17px;
  overflow: hidden;
  color: #fff;
}

/*======================================
/////////   log in screen   /////////////
=======================================*/

#signinContent {
  display: none;
  visibility: hidden;
  height: 100%;
  background-color: #f3f3f3;
  position: relative;
  background-color: inherit;
  overflow: hidden;
  text-align: center;
}

.signin__icon {
  width: 100px;
  margin: 40px auto 75px;
  display: block;
}

.signin__button {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: sans-serif;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .2s ease-in-out;
  padding: 0 20px;
  line-height: 60px;
  border: 2px solid;
  border-radius: 4px;
}

.signin__newaccount {
  display: block;
  text-decoration: none;
  line-height: 2;
  padding-top: 20px;
  color: inherit;
  font-size: 15px;
  font-weight: 600;
  transition: all .1s ease-in-out;
  letter-spacing: 1px;
  font-family: sans-serif;
}

.signin__newaccount:hover {
  /* color: #62c18a; */
  color: #35ff8a;
}

.signin__jack {
  display: inline-block;
      text-decoration: none;
      color: inherit;
      transition: all .1s ease-in-out;
      font-family: sans-serif;
      position: relative;
      top: 205px;
      z-index: 1003;
}

.signin__jack:hover {
  opacity: .7;
}

.signin__button:hover {
  color: rgb(22, 82, 240);
  background-color: #fff;
  border: 2px solid;
}

/*======================================
///////////   Rates Page   /////////////
=======================================*/

#extensionContent {
  display: none;
  visibility: hidden;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* Content */

/* table */

.content__title {
  letter-spacing: 2px;
  font-size: 16px;
  margin: 0;
  display: inline-block;
  background-color: rgb(22, 82, 240);
  width: 100%;
  padding: 25px 0 10px;
}

/* accounts */

.content {
  text-align: center;
  margin: 0;
  padding: 0;
}

.table {
  border-collapse: collapse;
  margin: 5px 0;
  width: 100%;
  padding: 0 5px;
}

.accounts {
  margin: 10px 0 25px;
  color: #000;
}

.table__row {
  border: none;
  line-height: 3.2;
}

.table__cell {
  width: 48px;
}

.table__cell--imagehldr {
  width: 58px;
  height: 75px;
}

.cell--image {
  vertical-align: middle;
  display: inline-block;
  width: 35px;
}

.table__cell--wallet {
  letter-spacing: 1px;
  text-align: left;
  padding: 20px 0;
}

.table__cell--name:nth-child(0) {
  padding-top: 25px;
}

.table__cell--worth {
  width: 160px;
  text-align: right;
  padding-right: 15px;
}

.table__cell--quantity {
  color: #777;
  line-height: 1.8;
  display: inline-block;
  position: relative;
}

.table__cell--quantity::after {
  content: "";
  position: absolute;
  top: 40px;
  right: -20px;
  width: 370px;
  height: 1px;
  background-color: #ccc;
}

.accounts__toggle {
  display: block;
  visibility: visible;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  letter-spacing: 2px;
  font-size: 13px;
}

/* prices */

.prices__title {
  margin: 0;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  background-color: unset;
  color: #555;
}

.prices-table__row {
  background-color: #364764;
  border: none;
  line-height: 2;
}

.prices-table__row:nth-child(even) {
  background-color: #2a374d;
}

.table__cell--calc {
  width: 58px;
}

.cell--input {
  text-align: center;
  width: 50px;
  background-color: unset;
  background-color: rgba(25, 25, 25, 0.2);
  border: none;
  line-height: 22px;
  color: #eee;
  font-size: 15px;
}

.table__cell--assetname {
  text-align: left;
}

/* Footer */

.footer {
  text-align: right;
  position: absolute;
  padding: 5px 0;
  bottom: 0px;
  left: 0;
  z-index: 1001;
  background-color: #eee;
  width: 100%;
}

.footer__link {
  transition: .1s all ease-in-out;
  text-decoration: none;
  position: relative;
  right: 20px;
  z-index: 1002;
}

.footer__link:hover {
  opacity: .7;
}

.footer__modal {
  transition: all 0.5s ease-in-out;
  background-color: inherit;
  box-sizing: border-box;
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  left: 0;
  top: 100%;
  padding: 15px 35px;
  font-size: 16px;
}

.top {
  top: 0%;
}
.visible  {
  display: block !important;
  visibility: visible !important;
}

.footer--blue {
  background-color: rgb(22, 82, 240);
}

.footer--blue .footer__link {
  color: #fff !important;
}

.currency {
  display: inline-block;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1002;
}

.currency__toggle {
  text-decoration: none;
  display: inline-block;
  color: #777;
  padding: 0 1px;
  margin: 0;
  font-size: .9em;
}

.currency__break {
  color: #444;
}

.currency__toggle input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.currency__toggle--symbol {
  transition: all .1s ease-in-out;
}

.currency__toggle input:hover~.currency__toggle--symbol {
  color: #444;
}

.currency__toggle input:checked~.currency__toggle--symbol {
  color: #444;
}
