body {
  margin: auto;
  padding: 0;
  width: 375px;
  font-size: 18px;
  text-align: center;
  color: #4e5c6e;
  background-color: #eee;
}

p {
  display: inline;
  margin: auto 5px;
}

.header {
  padding: 1.1em 0 1.1em;
  background-color: #0667d0;
}

.title {
  font-size: 22px;
  color: white;
  display: inline;
}

.subtitle {
  font-size: 20px;
  color: #0667d0;
  font-weight: 400;
}

.input {
  text-align: center;
  cursor: pointer;
  display: inline;
}

.result-txt,
.base-currency-txt {
  font-size: 0.9em;
  padding-right: 20px;
  margin: 0 auto;
  text-align: right;
}

/*.result-txt {
  padding-right: 5px;
}*/

.base-currency-value {
  color: #9ba6b2;
}

.crypto-currency-name {
  text-align: left;
}

.img {
  width: 40px;
  display: inline;
}

/* table */

table {
  width: 100%;
}

table,
tr {
  background-color: white;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
}

.table-row-subtitle {
  height: 2.3em;
  vertical-align: middle;
}

.table-row {
  height: 3em;
}

.right {
  text-align: right;
}
