body {
  margin: auto;
  padding: 0;
  background-color: #eee;
}

#login-page {
  height: 230px;
  width: 300px;
}

#wallets-page {
  height: 500px;
  width: 375px;
}

.banner-rates {
  /*display: inline;
  position: absolute;
  top: 80px;
  left: -2px;*/
}

.table {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  background-color: white;
  border: 1px solid #dae1e9;
  border-radius: 2px;
}

.brdr-top {
  border-top: 1px solid #dae1e9;
}

.brdr-btm {
  border-bottom: 1px solid #dae1e9;
}

.container {
  background-color: #f5f5f5;
  position: relative;
}

.container-inner {
  margin-top: 20px;
}

.cell-item {
  text-align: left;
  font-size: 16px;
  padding: 8px 0;
  cursor: pointer;
}

.icon {
  text-align: center;
}

.balance {
  text-align: right;
  padding-right: 15px;
}

.name-currency {
  font-size: 18px;
}

.base-currency {
  color: #4e5c6e;
}

.native-currency {
  color: #9ba6b2;
}

.arrows {
  text-align: center;
  padding: 0 6px;
}

.crypto-img {
  display: inline;
  width: 40px;
  padding: 1px 8px;
}

#header {
  display: block;
  text-align: center;
  width: 100%;
  padding: 1.3em 0 1.3em;
  background-color: #0667d0;
  position: absolute;
  left: 0px;
  top: 0px;
}

#header .title {
  margin: auto;
  font-size: 20px;
  display: inline;
  color: white;
}

#header .header-logo {
  width: 50px;
  z-index: 100;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #0667d0;
  background-color: white;
  padding: 0.75em 18px;
  margin-bottom: 0;
}
