body {
  margin: auto;
  padding: 0;
  background-color: #eee;
}

#login-page {
  height: 230px;
  width: 300px;
}

#wallets-page {
  height: 500px;
  width: 350px;
}

.banner-rates {
  display: inline;
  position: absolute;
  top: 80px;
  left: -2px;
}

.table {
  background-color: white;
  border: 1px solid #dae1e9;
  border-radius: 2px;
}

.brdr-top {
}

.brdr-btm {
  border-bottom: 1px solid #dae1e9;
}

.container {
  background-color: #f5f5f5;
  position: relative;
}

.container-inner {
  padding: 0 9px;
  margin-top: 20px;
}

.cell-item {
  text-align: left;
  font-size: 16px;
  padding: 8px 0;
  cursor: pointer;
}

.icon {
  text-align: center;
}

.balance {
  text-align: right;
}

.adjust-number {
  background-color: white;
  display: block;
  padding: 5px;
  width: 35px;
  background-color: white;
  text-align: right;
}

.currency {
  color: #555;
  padding-left: 2px;
  padding-right: 10px;
}

.crypto-img {
  display: inline;
  width: 40px;
}

#header {
  display: block;
  text-align: left;
  width: 100%;
  padding: 1.3em 20px 1.2em;
  background-color: #0667d0;
  position: absolute;
  left: 0px;
  top: 0px;
}

#header .title {
  margin: auto;
  font-size: 20px;
  display: inline;
  color: white;
}

#header .header-logo {
  float: right;
  z-index: 100;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #0667d0;
}
