body {
  /* background-color: rgb(22, 82, 240); */
  background-image: linear-gradient(to bottom right, #005482, #1652f0);
  margin: auto;
  height: 100vh;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  color: #3e4552;
}

p {
  font-size: 21px;
  line-height: 1.6;
}

.oauth-container {
  background-color: inherit;
  margin: auto;
  padding: 140px 0;
  max-width: 560px;
}

.content-box {
  background-color: #fff;
  border-radius: 3px;
  text-align: center;
  padding: 30px 70px 50px;
}
